/* styles.css */
body {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
  }
  
  #container {
    /* เพิ่มความสูงเพื่อให้มีขนาดพอดีกับหน้าจอ */
    min-height: 100vh;
    padding: 20px; /* สร้างเว้นระหว่างขอบหน้าจอและเนื้อหา */
  }
  
  #imageUpload[type="file"] {
    display: none; /* ซ่อนอินพุตไฟล์ */
  }
  
  #container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #webcam-container {
    width: 100%;
  }
  
  #capture-button {
    margin-top: 10px;
  }
  
  #gif-display {
    width: 30%;
    height: auto;
  }
  
  .result {
    margin-top: 20px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }
  
  #label-container {
    font-family: "Courier New", Courier, monospace;
    font-size: medium;
    margin-bottom: 15px;
    font-weight: 500;
  }
  
  .head_txt {
    font-family: "Courier New", Courier, monospace;
    font-size: medium;
    font-weight: bold;
    margin: 10px;
  }
  
  .custom-upload-button {
    background-color: #a8d3ff;
    color: #4f80c0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .custom-upload-button:hover {
    background-color: #0056b3;
  }
  
  /* เพิ่มสไตล์เมื่อปุ่มไม่สามารถคลิกได้ (ตัวอย่าง) */
  .custom-upload-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
  
  @media screen and (max-width: 768px) {
    body {
      flex-direction: column;
    }
  }